h2{
    color: orange;
    font-family: Trebuchet MS;
    text-align: center;
}

.kotak{
    padding: 50px;
    width: 100px;
    color: aliceblue;
    margin: 10px;
    background: orange;
}

#kotak{
    width: 400px;
    color: antiquewhite;
    background: blue;
    padding: 50px;
}

body{
    background: url('bunga2.jpg') , url('orang.jpg');
    background-repeat: no-repeat,repeat;
    color: white;
}